mixin roomDropdown(options)
    if !options
     - options = {}
    - var bedroom = options.bedroom || 0
    - var bed = options.bed || 0
    - var bathroom = options.bathroom || 0

    .room-dropdown
        .room-dropdown__info
            .room-dropdown__name
                label(for='room-dropdown__inp')= options.label || ''
            .room-dropdown__state= options.state || ''
        div(class=`room-dropdown__message iqdropdown ${options.className}`)
            p.iqdropdown-selection
            span.room-dropdown__micons
            .iqdropdown-menu
                div(class='iqdropdown-menu-option' data-id='bedroom' data-defaultcount=`${bedroom}`)
                    div
                        p(class='iqdropdown-item') Спальни
                div(class='iqdropdown-menu-option' data-id='bed' data-defaultcount=`${bed}`)
                    div
                        p(class='iqdropdown-item') Кровати
                div(class='iqdropdown-menu-option' data-id='bathroom' data-defaultcount=`${bathroom}`)
                    div
                        p(class='iqdropdown-item') Ванные комнаты