mixin roomDropdown(label, state, className, bedroom='0', bed='0', bathroom='0')
    div(class="room-dropdown")
        div(class="room-dropdown__info")
            div(class="room-dropdown__name")
                label(for="room-dropdown__inp")= label 
            div(class="room-dropdown__state")= state 
        div(class=`room-dropdown__message iqdropdown ${className}`)
            p(class="iqdropdown-selection")
            span(class="room-dropdown__micons") 
            div(class="iqdropdown-menu")
                div(class="iqdropdown-menu-option" data-id="bedroom" data-defaultcount=`${bedroom}`)
                    div
                        p(class="iqdropdown-item") Спальни
                div(class="iqdropdown-menu-option" data-id="bed" data-defaultcount=`${bed}`)
                    div
                        p(class="iqdropdown-item") Кровати
                div(class="iqdropdown-menu-option" data-id="bathroom" data-defaultcount=`${bathroom}`)
                    div
                        p(class="iqdropdown-item") Ванные комнаты