mixin guestDropdown(options)
    if !options
     - options = {}
    - var adult = options.adult || 0
    - var minor = options.minor || 0
    - var infant = options.infant || 0

    .guest-dropdown
        .guest-dropdown__info.heading3
            .guest-dropdown__name
                label(for='guest-dropdown__inp')= options.label || ''
            .guest-dropdown__state= options.state || ''
        div(class=`guest-dropdown__message iqdropdown ${options.className}`)
            p.iqdropdown-selection
            span.guest-dropdown__micons
            .iqdropdown-menu
                div(class='iqdropdown-menu-option' data-id='adult' data-defaultcount=`${adult}`)
                    div
                        p(class='iqdropdown-item') Взрослые
                div(class='iqdropdown-menu-option' data-id='minor' data-defaultcount=`${minor}`)
                    div
                        p(class='iqdropdown-item') Дети
                div(class='iqdropdown-menu-option' data-id='infant' data-defaultcount=`${infant}`)
                    div
                        p(class='iqdropdown-item') Младенцы
                .guest-dropdown__buttons
                    button.iqdropdown-reset.heading3 Очистить
                    button.iqdropdown-menu-close Применить