mixin expandCheckbox(options)
    //- options.n - unique identificator
    if !options
        - options = {}
    if !options.items
        - options.items = []
    - var items = options.items
    - var n = options.n
    .expand-checkbox
        .expand-checkbox__heading
            .expand-checkbox__title.heading3= options.title || ''
            span.expand-checkbox__micons
        .expand-checkbox__list
            - for (var x = 0; x < items.length; x++)
                    .expand-checkbox__item
                        input(class='expand-checkbox__input' type='checkbox' id=`expand-checkbox${n}${x}` name=`expand-checkbox${n}${x}` value=items[x].value)
                        label(for=`expand-checkbox${n}${x}`)= items[x].label