mixin richCheckbox(options)
    if !options
        - options = {}
    if !options.items
        - options.items = []
    - var items = options.items

    .rich-checkbox
        .rich-checkbox__title.heading3= options.title
        .rich-checkbox__list
            - for (var x = 0; x < items.length; x++)
                .rich-checkbox__item
                    input(class='rich-checkbox__input' type='checkbox' id=`rich-checkbox${x}` name=`rich-checkbox${x}` value=items[x].value)
                    label(for=`rich-checkbox${x}`)= items[x].label
                    .rich-checkbox__descript= items[x].description